.header_style {
  background-color: #081a1c;
  padding: 1.26rem 1.26rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

.header_btn_bRadius {
  border-radius: 0.3rem;
}
