* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cascadia Mono;
  color: #08f308;
}

body {
  background: #153c3e;
  /* background: #00244f; */
}

.container {
  width: 72%;
  margin: auto;
}

.center_text {
  text-align: center;
}

.center_text_flex {
  justify-content: center;
}

.d_flex {
  display: flex;
}
